.model{
}

.box{
    margin-top: -200px;
    margin-right: 150px;
    display: flex;
    justify-content: right;
    border-radius: 30px;
}

.model_structure{
    margin-left: 30px;
}

.start{
    margin-top: 100px;
    margin-left: 50px;
}

.intro{
    font-family: hulk;
}

@font-face {
    font-family: hulk;
    src: url('../fonts/c3.ttf');
}

.text{
    font-size: 150px;
}

.name{
    font-family: hulk;
    border: 2px solid black;
    padding: 10px;
    width: auto;
    display: inline;
    cursor: pointer;
}

.model_names{
    display: inline;
    padding: 10px;    
}

.model_names:hover{
    color: 'green';
}

.loading{
    margin-left: 60%;
    margin-top: -400px;
}
